

.gradient-border {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-image: linear-gradient(to left, #8360c3 10%, #2ebf91 100%);
  border-image-slice: 1;
}

.all { border-image-width: 5px; }
